<div class="card-group">
  <div class="card">
    <img src="https://inlifethrill.com/wp-content/uploads/2017/02/GeoBoil_02.png" class="card-img-top" alt="clash">
    <div class="card-body">
      <h5 class="card-title">The portfolio</h5>
      <p class="card-text">After we have known the title of the problem (water) we imagined a lot of things such as what is water, what is
      difference between sea water and fresh water, water in Egypt, why do we have problem with water?.
      Water The water covers seventy five percent of the earth, 97%of this water is sea water and 3%of these are fresh water.
      Water contains 3 atoms one of them oxygen atom and other atoms are hydrogen atoms there is a hydrogen bond between
      molecules which make the properties of water unusual it makes water can absorb so much heat which protect organisms that
      live in water, it has a high boiling point, it has low freezing point, it responsible for ability of water to regulate
      earth’s climate, liquid have more density than frozen.
      Water is polar molecule because these two facts mean that the oxygen ―side‖ of the molecule is negatively charged and
      the Hydrogen ―side‖ of the molecule is positively charged.
      Because of the structure of the orbits of electrons around the three atomic nuclei, the three atoms are not in a
      straight line. Instead, they form an angle of 104.5°.
      Water has a cycle which it goes through on the Earth and it has three major processes which are evaporation,
      precipitation and condensation.
      There are many of water reservoirs such as Oceans Groundwater Lakes Rivers Glaciers
      There are fresh water reservoirs and sea water reservoirs. The fresh water reservoirs are some lake, river, ground water
      and glaciers. And the sea water reservoirs are oceans, seas and some lakes.
      Sea water
      We will use sea water to get pure water to drink or to use in our daily use, sea water contains of salts dissolved in
      sea water, with ordinary sodium chloride constituting about 90% of the dissolved salt. The table at left is given by the
      Windows on the Universe website. It is not clear how you reach charge neutrality with these numbers. Another item of
      information from this site was that deep ocean water was at about 3°C and salinity 34-35 ppt. Seawater of average
      salinity 35 ppt freezes at -1.94°C (28.5°F). The salinity of the water is measured with a CTD instrument (Conductivity,
      Temperature, and Depth). The conductivity is used to calculate the salinity in conjunction with the temperature and
      depth (pressure) measurements.
      Dissolved salts in sea water (atoms) Chlorine 55.3% Sodium 30.8% Magnesium 3.7% Sulfur 2.6% Calcium 1.2% Potassium 1.1%
      Seawater has an average density of 1.027 gm. /cm3, but this varies with temperature and salinity over a range of about
      1.020 to 1.029. The density is typically indicated by a density index which is the departure of the density from 1.000
      multiplied by a thousand.
      Water in Egypt
      Egypt has many resources of water such as Red Sea, rain, Mediterranean, River Nile and wells and springs
      River Nile
      • He River Nile is in Africa. It originates in Burundi, south of the equator, and flows northward through northeastern
      Africa, eventually flowing through Egypt and finally draining into the Mediterranean Sea.
      • Lake Victoria, Africa's biggest lake, is generally thought of as the source of the River Nile. On the northern edge of
      the lake, water pours over a waterfall, known as Ripon Falls; into a narrow opening which some people believe is the
      beginning of the River Nile.
      • The length of the Nile River is approximately 6650 kilometers (4132 miles). It is believed to be the longest river in
      the world.
      • The Nile River has huge significance in regards to Ancient Egypt. Most of Ancient Egypt’s historical sites are located
      along the banks of the Nile River including cities such as Luxor and Cairo.
      • The Nile Delta in Northern Egypt is where the Nile River drains in to the Mediterranean Sea. It is around 160
      kilometers (100 miles) in length and spreads out over 240 kilometers (149 miles) of coastline. It is rich in agriculture
      and has been farmed for thousands of years.
      Red sea
      Max. length 2,250 km (1,400 mi)
      Max. width 355 km (221 mi)
      Surface area 438,000 km2 (169,000 sq. mi)
      Average depth 490 m (1,610 ft.)
      Max. depth 2,211 m (7,254 ft.)
      Water volume 233,000 km3 (56,000 cu mi)
      Mediterranean Sea
      Surface area 2,500,000 km2(970,000 sq. mi)
      Average depth 1,500 m (4,900 ft.)
      Max. depth 5,267 m (17,280 ft.)
      Water volume 3,750,000 km3(900,000 cu mi)
      Water problem We meet many problems related to water like water pollution, limited availability of water, poor water use
      or misuse water.
      Water pollution:
      We have many type of water pollution such as industrial waste, sewage and waste water, mining activity, marine dumping,
      global warming.........etc.
      — 1. Industrial waste: Industries produce huge amount of waste which
      contains toxic chemicals and pollutants (like lead, mercury, sculpture, asbestos, nitrates) which can cause air
      pollution and damage to us and our environment.
      — 2. Sewage and waste water: The sewage and waste water that is
      produced by each household is chemically treated and released in to sea with fresh water. The sewage water carries
      harmful bacteria and chemicals that can cause serious health problems. [ pathogens / microorganisms ]
      — 3. Mining activities: extracting rock and coal and other elements
      which -when extracted- release toxic chemicals that are harmful for water.
      — 4. Marine dumping: The garbage produce by each household in the
      form of paper, aluminum, rubber, glass, plastic, food if collected and deposited into the sea in some countries. These
      items take from 2 weeks to 200 years to decompose. When such items enter the sea, they not only cause water pollution
      but also harm animals in the sea.
      — 4. Nutrients: Chemical fertilizers used by farmers also add nutrients to the soil, which drain into rivers and seas
      and add to the fertilizing
      effect of the sewage. Together, sewage and fertilizers can cause a massive increase in the growth of algae or plankton
      that overwhelms huge areas of oceans, lakes, or rivers.
      — 5. Global warming: An increase in earth’s temperature due
      to greenhouse effect results in global warming. It increases the water temperature and result in death of aquatic
      animals and marine species which later results in water pollution.
      — And many other types which harm water and pollute water which due
      to make it useless.
      — These problem due to
      — Death of aquatic (water) animals — Disruption of food-chains — Diseases
      —
      Limited availability of water
      Some areas are very dry, and they are decertified because there is no enough water to convert it to green land or plant
      any plants which make some country to make war with other countries because of water and hungry.
      Life may be impossible at these places and the hungry and thirsty are everywhere.
      Bad water uses
      Some people misuse water by forgetting the faucets are opened, watering plant by too much water, some people throw fresh
      water on the land by careless way to clean and some people don't save water in their utilization.
      Then we thought that we need to filtration sea water to get fresh water because some areas are not having any water so
      make some area desert so we need to provide water to this area to convert it from barren land to green land.
      So we thought that we can desalinate sea water by release electromagnetic wave in water to convert it to water vapor by
      breaking down hydrogen bond which makes water is a liquid substance so we searched about electromagnetic waves
      properties.
      Some solutions:
      Different perspectives for water purification:
      Water that is distributed in cities or communities is treated extensively. Specific water purification steps are taken,
      in order to make the water meet current water standards. Purification methods can be divided up into settling of
      suspended matter, physical/ chemical treatment of colloids and biological treatment. All these treatment methods have
      several different applications 1 Physical water purification
      Physical water purification is primarily concerned with filtration techniques. Filtration is a purification instrument
      to remove solids from liquids. There are several different filtration techniques. A typical filter consists of a tank,
      the filter media and a controller to enable backflow.
      Screens
 </p>
      <p class="card-text"><small class="text-muted">See the resources</small></p>
    </div>
  </div>


  <div class="card">
    <img src="https://searchengineland.com/figz/wp-content/seloads/2014/08/lab-test-experiment-ss-1920.jpg" class="card-img-top" alt="cinema4d">
    <div class="card-body">
      <h5 class="card-title">Advantages</h5>
      <p class="card-text">Advantages of Calcite Filters for Neutralization : Calcite is a Naturally Occurring Material. Low
      Uniformity coefficient for maximum contact for controlled pH correction. Inexpensive. Slower reacting for controlled pH
      correction .Calcite Media Specifications : Color: near white
      Bulk Density: 82 lbs./cu. ft . Specific Gravity: 2.7
      Effective Size: .40 mm
      Uniformity Coefficient: 1.5
      Hardness: 3.0 (Mohs scale ) Calcite Media Operational Specifications :
      Water pH range: 5.0 – 7.0
      Bed depth: 24 – 30 in . Freeboard: 50% of bed dept
      Service flow rate: 3 - 6 gpm/sq. ft . Backwash flow rate: 8 – 12 gpm/sq. ft . Backwash expansion rate: 35% of bed depth
      so we found some
      Prototype: Implementation of the project is not that easy to plan for what will be done and then to start constructing
      the prototype because when it comes to constructing the real-working prototype, it seems like facing many difficult
      troubles that strongly related to practical tools and practical experiences as for such a complex project. Consequently,
      materials we have used are:
      1. Transparent compressed plastic cylinder with a diameter of 12 cm, a height of 80 cm and a thickness of 4mm which
      bears up to a pressure of 2 bars.
      2. Electric driller of 12 V
      3. Cutter Machine
      4. Lathe to construct the piston
      5. Rubber ring
      6. Pulley for lifting
      Let`s go through the methods followed to accomplish the construction:
      1. Restructuring the cylindrical container with the required dimensions in an appropriate factory of modeling and
      framing of compressed plastics.
      2. Using the driller to make a hole 2.2 cm above the base of the container as the water will be have 2 cm height and
      this hole is to be an input for the water and output for the air inside the container.
      3. Using the cutter machine to cut the container in order to have the height of 80 cm.
      4. Using the lathe to construct a piston whose plate has a radius of 5.85 cm and whose metallic arm has a height of 78
      cm.
      5. Framing the plate of the piston with the rubber ring whose thickness is 3 mm and whose diameter is 11.7 cm in order
      to make the piston moving smoothly inside the container.
      6. Hanging the piston`s terminal ring in the hook of the pulley.
      Background Research
      Based on the data collected on our research we have searched for some equations and principles.
      - Vapor Pressure using Antoine equation:
      The Antoine equation is a vapor pressure equation and describes the relation between vapor pressure and temperature for
      pure components.
      - Boyle's Law Boyle's law (sometimes referred to as the Boyle–Mariotte law, or Mariotte's law) is an experimental gas
      law which describes how the pressure of a gas tends to decrease as the volume of a gas increases. A modern statement of
      Boyle's law is: The absolute pressure exerted by a given mass of an ideal gas is inversely proportional to the volume it
      occupies if the temperature and amount of gas remain unchanged within a closed system. Mathematically, Boyle's law can
      be stated as
      - Isobaric Process
      An isobaric process is a thermodynamic process in which the pressure stays constant: ΔP = 0. The term derives from the
      Greek iso-(equal) and baros (weight).</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card">
    <img src="http://www.cud.ac.ae/sites/default/files/general/2016/success-centre-1920x1080.jpg" class="card-img-top" alt="student">
    <div class="card-body">
      <h5 class="card-title">Others</h5>
      <p class="card-text">An isobaric process is a thermodynamic process in which the pressure stays constant: ΔP = 0. The term derives from the
      Greek iso-(equal) and baros (weight). The heat transferred to the system does work, but also changes the internal energy
      of the system:
      .
      Results: Using the equations were mentioned before:
      P1V1 = P2V2
      760torr*10liters = 23.76torr*V2
      7600/23.76 = 319.9 = V2
      
      T max °C
      A B C T min.
      °C
      
      Water 8.07131 1730.63 233.426 1 100
      V cylinder =hΠr2
      r of the piston = 3 meters
      Then; 319.9 = Π(3)2h
      319.9 = 28.3h
      Height which the piston will move = 11.3 meters
      W = P (delta)V
      W = 0.5(736.34)*(309.9)= 114080 joule
      Since; Power(watt) = Joule/Second
      114080/60 = 1900 watt
      After the first minute and the water will start evaporating and replacing it with other amounts so it is assumed as
      minimum that every minute there will be 10 liters of water evaporated and condensed.
      Conclusion As a conclusion, our project will provide Egypt with a sustainable and a reliable solution for the water
      grand challenge; as it depends on desalination of sea water by mechanical techniques which is designed to save energy in
      order to reduce cost and that what already achieved by the design and the calculations. The system have reduced the cost
      of desalination of sea water by making the piston on the container move 1 or 4 moves during the day which will cost
      approximately 12,000 EGP for 44,500 person in Egypt which will cost the consumer 0.27 piaster for 20 liters of water per
      day. We also reduced the cost by replacing the condensation system by a natural phenomenon depending
      of the electric field which will not use a lot of energy or its loses will be very low.
      Learning outcomes: We use Boyles law from physics, water pressure from chemistry, water cycle from biology and water
      structure from chemistry
      </p>
      <p class="card-text"><small class="text-muted">visit us</small></p>
    </div>
  </div>
</div>