












</body>
    <script src=assests/js/lib/jquery-3.3.1.min.js> </script>


<link href='favicon.ico' rel="shortcut icon">
<link href=/assests/css/lib/bootstrap.min.css rel=stylesheet>
<script src="assests/js/lib/semantic.min.js"></script>
<script src="assests/js/lib/bootstrap.bundle.min.js"></script>
</html>