<div id="foot">
    <div style="display:block;padding-top:70px;">
        <div class="row justify-content-md-center  ">
            <div class="col col-lg-4 f_item">
                <center>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                </center>
            </div>
            <div class="col col-lg-4 f_item">
                <center>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                </center>
            </div>
            <div class="col col-lg-4 f_item">
                <center>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                    <P>Contact us</P>
                </center>
            </div>
        </div>
    </div>
</div>
</div>