<!doctypehtml>
    <html lang=en>
    <meta charset=UTF-8>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <meta content="ie=edge" http-equiv=X-UA-Compatible>
    <meta
        content="first stem website for students that want to apply to stem schools and those who are already at stem schools"
        name=description>
    <title>StemEgypt Home page | stem Egypt schools</title>

    <!-- <script src=assests/js/lib/jquery-3.3.1.min.js> </script> -->
    <body>
        
    