<div class="row row justify-content-md-center " id="logos_row">
    <div class="col col-lg-2">
        <img class="slogo" src="/images/alex_logo.png" alt="ALEX STEM LOGO" title="LOGO">
    </div>
    <div class="col col-lg-2">
        <img class="slogo" src="/images/dakahlia_logo.jpg" alt="DAK STEM LOGO" title="LOGO">
    </div>
    <div class="col col-lg-2">
        <img class="slogo" src="/images/luxor_logo.jpg" alt="LUXOR STEM LOGO" title="LOGO">
    </div>
  
</div>
<div class="row row justify-content-md-center " id="logos_row" >
    <div class="col col-lg-2">
        <img class="slogo" src="/images/redsea_logo.jpg " alt="REDSEA1 STEM LOGO" title="LOGO">
    </div>
    <div class="col col-lg-2">
        <img class="slogo" src="/images/redsea_logo.jpg" alt="REDSEA2  STEM LOGO" title="LOGO">
    </div>
    <div class="col col-lg-2">
        <img class="slogo" src="/images/redsea_logo.jpg" alt="REDSEA3 STEM LOGO" title="LOGO">
    </div>
  
</div>