<div class="nav">
    <div class="container">
       <a href="/"> <img src="/images/wlogo.png" id="wlogo" alt="stem logo" title="website logo">
        <h2>StemEgypt</h2>
        </a>

        <button class="btn btn-md btn-success login">Login</button>
    </div>

</div>