<div class="nav">
    <div class="container">
        <img src="/images/wlogo.png" id="wlogo" alt="stem logo" title="website logo">
        <h2>StemEgypt</h2>
        <button class="btn btn-lg btn-success login">Login</button>
    </div>

</div>