<div class="nav">
    <div class="container">
       <a href="/"> <img src="/images/wlogo.png" id="wlogo" alt="stem logo" title="website logo">
        <h2>StemEgypt</h2>
        </a>

       <a href="/signin"> <button class="btn btn-md btn-success login">Login</button></a>
       <a href="/signup"><button class="btn btn-md btn-success login">sign up</button></a>
    </div>

</div>