<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<link rel="stylesheet" href="assests/css/index.css">
<div class="containerx container">
    <%include partials/head.ejs%>
    <div id="x">
        <%include partials/logos.ejs%>
        <%include partials/cards.ejs%>

        
        <%include partials/foot.ejs%>
    </div>
</div>

<%include partials/footer.ejs%>
<script>
    $('.start').on('click', function () {
        $('html,body').animate({
            scrollTop: $(".start").offset().top
        },
            'slow');
    })

</script>