<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<link rel="stylesheet" href="assests/css/index.css">
<div class="containerx container">
    <%include partials/head.ejs%>
    <div id="x">
        <%include partials/logos.ejs%>
        <h5>
            I am feelimg something nice .i feel like that I am immersed in a specific mode
            Fully concentrating
            No distraction
            Calmness
            I am at night alone infront of my pc
            Not very alone but bros are awake at the room
            Just masted 3 times
            Just stopped web development and sounds like switching to embroyology or genetics idk
            Wanna buy eeg apparatus
            Wanna control my hormones or my modes
            Decision variation may be my larest problems
            Idk what to do know but It seems that I ‘ll start emroyology
            I wanna know the role of genetics in human development
            How will I be smart
            A rat is wondering around
            It is infront of me now
            Standing on his back legs for more than15 secs
            He ran away
            I wanna be
            Once I’had the passion to be bt right now it disappeared
            I still wanna be
            But somr=ething changed
            The strong passion stopped
            Not because of feeling of failure
            No but may be because of severe masturbation
            Or feeling neutral towards girls
            May the gave me the courage or the push
            I feel relaxed on writibg
            I’ll isa keep writing here every day
            I wanna track my decision variation
            Too good to be fady gabr
            What to do right now
            (embryo… no no eeg apparatus no so silly
            Search for what I want doesn’t feel good
            I am controlled
            Imprisoned
            My decisions aren’t free
            Just have read what I wrote
            Fuck u my word file
            I wanna start
            Or think deeply or relaxy
            I wanna sleep
            Fuck
            Engy
            Reham
            I ‘ve no reason to be for
            Once I hasd a reason
            May this is why my passion decraeased
            No
            No
            It is bigger than this
            When I was listening to aghany watanya I used to be encouraged but now no
            I enjoyed m y fast writing
            I sonds to bend slightly towards coding again
            Will someone read this one day
            I am writing as if someone will do so
            Now I am a poor person
            Not poor
            I rea;;y can’t describe my self
            Iam an ordinary person
            We live in a family
            We have daily priblems
            May this affect my psycologiacal state
            Not ma iam sure about that
            I always feel unsafe
            I don’t know what unsafe really means
            And the preceeding word always is incorrect
            What if I start to find a way to stop the family problems
            Something that I started before like death persuation
            It is something good to write down ur idea
            Ot feels that u understand it deeply
            When the idea comes to my mind I become accepting it
            But once I write it down its acceptance decreas
            I can’t express what I wanna say
            But u will understand
            U who its me who will read this again
            Hahaha
            The line before the preceeding on is written for someone that will read’
            Fuck complexity
            Hshhhhhhhhhhhhhshshshshshsh
            Calmness
            I wasn’t calmness
            I wanna sleep thinking in anything that will …..
            I don’t know how to say it
            U’ll undestabnd
            Bye
            I forgot I’ll hide this file
            bye
            From a stupid applicant to the destination of intelligence
            Firstly I am not smart enough to decide even i am stupid or intelligent
            I am sorry for begging for a place
            But I am stupid enough not to achieve your requirements
            Your requirements tests a very few side of human intelligence
            Are you satisfied with your position as an admission officer at university?
            No one knows you.
            .
            .
            .
            All is because of the brain
            It what makes the genius and the stupid
            The president and clerk
            .
            .
            .
            Humans don’t have equal chances
            Brain is like any other body organ
            You may born tall and with a strong body
            And you may born a dwarf
            Nothing can change the dwarf to the tall except changing in its internal structure
            And so do the brain
            We don’t have to expect anyone with a normal brain to do like albert einstein or to complete on his way
            Einstein brain has strong numerous nerve fibres that allow his right
            Brain hemisphere to communicate with left one
            So to be like einstein we have to obtain a person that has the same number of connection or more.
            Not those who achieve your trivial requirements
            I think this can be done easily with genetics
            I am thinking in so but in my country there is no neuroscience faculties

            100 for gabr
            ********************************************************************************************************
            1.5 eur for paypal
            ********************************************************************************************************
            228 for mcdonalds
            ********************************************************************************************************
            11.60 for breakfasting at carrefour in ramadan + 6 paounds fees 2 transaction at nbe balance inquiry
            ********************************************************************************************************
            100 gabr withdrawed them on 27/5/2018 was wuth amir and bassem going to bebo n. + 3 pounds fees
            Balance today 27/5/2018 = 8131.95 LE
            ********************************************************************************************************
            320 for shady on 30/5/2018
            Balance today on 30/5/2018 = 7811.95
            **********************************************************************************************************
            5 LE monthly fees for Alex Bank
            Balance now = 7806.95
            **********************************************************************************************************
            100 LE for gabr on -- / -- /2018
            Balance today 7706.95
            **********************************************************************************************************
            50 LE deposit my eid money from kamal
            Balance now = 7756.95
            **********************************************************************************************************
            54 LE Milkshake from mac for adham and bassem
            Balance expected now = 7702.95 LE

        </h5>
        <div id="foot">
           <div class="row justify-content-md-center align-middle">
               <div class="col col-lg-4 f_item">
                   <center>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                </center>
               </div>
               <div class="col col-lg-4 f_item">
                   <center>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                </center>
               </div>
               <div class="col col-lg-4 f_item">
                   <center>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                  <h6>Contact us</h6>
                </center>
               </div>
             
           
            
           </div>
        </div>
    </div>
</div>

    <%include partials/footer.ejs%>
    <script>
        $('.start').on('click', function () {
            $('html,body').animate({
                scrollTop: $(".start").offset().top
            },
                'slow');
        })

    </script>