<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<link rel="stylesheet" href="assests/css/index.css">
<div class="containerx container">
    <%include partials/head.ejs%>
    <div id="x">
        <%include partials/logos.ejs%>
        <%include partials/cards.ejs%>
        <h5>
            I am feelimg something nice .i feel like that I am immersed in a specific mode
            Fully concentrating
            No distraction
            Calmness
            I am at night alone infront of my pc
            Not very alone but bros are awake at the room
            Just masted 3 times
            Just stopped web development and sounds like switching to embroyology or genetics idk
            Wanna buy eeg apparatus
            Wanna control my hormones or my modes
            Decision variation may be my larest problems
            Idk what to do know but It seems that I ‘ll start emroyology
            I wanna know the role of genetics in human development
            How will I be smart
            A rat is wondering around
            It is infront of me now
            Standing on his back legs for more than15 secs
            He ran away
            I wanna be
            Once I’had the passion to be bt right now it disappeared
            I still wanna be
            But somr=ething changed
            The strong passion stopped
            Not because of feeling of failure
            No but may be because of severe masturbation
            Or feeling neutral towards girls
            May the gave me the courage or the push
            I feel relaxed on writibg
            I’ll isa keep writing here every day
            I wanna track my decision variation
            Too good to be fady gabr
            What to do right now
            (embryo… no no eeg apparatus no so silly
            Search for what I want doesn’t feel good
            I am controlled
            Imprisoned
            My decisions aren’t free
            Just have read what I wrote
            Fuck u my word file
            I wanna start
            Or think deeply or relaxy
            I wanna sleep
            Fuck
            Engy
            Reham
            I ‘ve no reason to be for
            Once I hasd a reason
            May this is why my passion decraeased
            No
            No
            It is bigger than this
            When I was listening to aghany watanya I used to be encouraged but now no
            I enjoyed m y fast writing
            I sonds to bend slightly towards coding again
            Will someone read this one day
            I am writing as if someone will do so
            Now I am a poor person
            Not poor
            I rea;;y can’t describe my self
            Iam an ordinary person
            We live in a family
            We have daily priblems
            May this affect my psycologiacal state
            Not ma iam sure about that
            I always feel unsafe
            I don’t know what unsafe really means
            And the preceeding word always is incorrect
            What if I start to find a way to stop the family problems
            Something that I started before like death persuation
            It is something good to write down ur idea
            Ot feels that u understand it deeply
            When the idea comes to my mind I become accepting it
            But once I write it down its acceptance decreas
            I can’t express what I wanna say
            But u will understand
            U who its me who will read this again
            Hahaha
            The line before the preceeding on is written for someone that will read’
            Fuck complexity
            Hshhhhhhhhhhhhhshshshshshsh
            Calmness
            I wasn’t calmness
            I wanna sleep thinking in anything that will …..
            I don’t know how to say it
            U’ll undestabnd
            Bye
            I forgot I’ll hide this file
            bye
            From a stupid applicant to the destination of intelligence
            Firstly I am not smart enough to decide even i am stupid or intelligent
            I am sorry for begging for a place
            But I am stupid enough not to achieve your requirements
            Your requirements tests a very few side of human intelligence
            Are you satisfied with your position as an admission officer at university?
            No one knows you.
            .
            .
            .
            All is because of the brain
            It what makes the genius and the stupid
            The president and clerk
            .
            .
            .
            Humans don’t have equal chances
            Brain is like any other body organ
            You may born tall and with a strong body
            And you may born a dwarf
            Nothing can change the dwarf to the tall except changing in its internal structure
            And so do the brain
            We don’t have to expect anyone with a normal brain to do like albert einstein or to complete on his way
            Einstein brain has strong numerous nerve fibres that allow his right
            Brain hemisphere to communicate with left one
            So to be like einstein we have to obtain a person that has the same number of connection or more.
            Not those who achieve your trivial requirements
            I think this can be done easily with genetics
            I am thinking in so but in my country there is no neuroscience faculties

            100 for gabr
            ********************************************************************************************************
            1.5 eur for paypal
            ********************************************************************************************************
            228 for mcdonalds
            ********************************************************************************************************
            11.60 for breakfasting at carrefour in ramadan + 6 paounds fees 2 transaction at nbe balance inquiry
            ********************************************************************************************************
            100 gabr withdrawed them on 27/5/2018 was wuth amir and bassem going to bebo n. + 3 pounds fees
            Balance today 27/5/2018 = 8131.95 LE
            ********************************************************************************************************
            320 for shady on 30/5/2018
            Balance today on 30/5/2018 = 7811.95
            **********************************************************************************************************
            5 LE monthly fees for Alex Bank
            Balance now = 7806.95
            **********************************************************************************************************
            100 LE for gabr on -- / -- /2018
            Balance today 7706.95
            **********************************************************************************************************
            50 LE deposit my eid money from kamal
            Balance now = 7756.95
            **********************************************************************************************************
            54 LE Milkshake from mac for adham and bassem
            Balance expected now = 7702.95 LE


        </h5>
        <hr>
        <center>
            <h2>
                The Portfolio 
After we have known the title of the problem (water) we imagined a lot of things such as what is water, what is difference between sea water and fresh water, water in Egypt, why do we have problem with water?. 
Water The water covers seventy five percent of the earth, 97%of this water is sea water and 3%of these are fresh water. 
Water contains 3 atoms one of them oxygen atom and other atoms are hydrogen atoms there is a hydrogen bond between molecules which make the properties of water unusual it makes water can absorb so much heat which protect organisms that live in water, it has a high boiling point, it has low freezing point, it responsible for ability of water to regulate earth’s climate, liquid have more density than frozen. 
Water is polar molecule because these two facts mean that the oxygen ―side‖ of the molecule is negatively charged and the Hydrogen ―side‖ of the molecule is positively charged. 
Because of the structure of the orbits of electrons around the three atomic nuclei, the three atoms are not in a straight line. Instead, they form an angle of 104.5°. 
Water has a cycle which it goes through on the Earth and it has three major processes which are evaporation, precipitation and condensation. 
There are many of water reservoirs such as Oceans Groundwater Lakes Rivers Glaciers 
There are fresh water reservoirs and sea water reservoirs. The fresh water reservoirs are some lake, river, ground water and glaciers. And the sea water reservoirs are oceans, seas and some lakes. 
Sea water 
We will use sea water to get pure water to drink or to use in our daily use, sea water contains of salts dissolved in sea water, with ordinary sodium chloride constituting about 90% of the dissolved salt. The table at left is given by the Windows on the Universe website. It is not clear how you reach charge neutrality with these numbers. Another item of information from this site was that deep ocean water was at about 3°C and salinity 34-35 ppt. Seawater of average salinity 35 ppt freezes at -1.94°C (28.5°F). The salinity of the water is measured with a CTD instrument (Conductivity, Temperature, and Depth). The conductivity is used to calculate the salinity in conjunction with the temperature and depth (pressure) measurements. 
Dissolved salts in sea water (atoms) Chlorine 55.3% Sodium 30.8% Magnesium 3.7% Sulfur 2.6% Calcium 1.2% Potassium 1.1% 
Seawater has an average density of 1.027 gm. /cm3, but this varies with temperature and salinity over a range of about 1.020 to 1.029. The density is typically indicated by a density index which is the departure of the density from 1.000 multiplied by a thousand. 
Water in Egypt 
Egypt has many resources of water such as Red Sea, rain, Mediterranean, River Nile and wells and springs 
River Nile 
• He River Nile is in Africa. It originates in Burundi, south of the equator, and flows northward through northeastern Africa, eventually flowing through Egypt and finally draining into the Mediterranean Sea. 
• Lake Victoria, Africa's biggest lake, is generally thought of as the source of the River Nile. On the northern edge of the lake, water pours over a waterfall, known as Ripon Falls; into a narrow opening which some people believe is the beginning of the River Nile. 
• The length of the Nile River is approximately 6650 kilometers (4132 miles). It is believed to be the longest river in the world. 
• The Nile River has huge significance in regards to Ancient Egypt. Most of Ancient Egypt’s historical sites are located along the banks of the Nile River including cities such as Luxor and Cairo. 
• The Nile Delta in Northern Egypt is where the Nile River drains in to the Mediterranean Sea. It is around 160 kilometers (100 miles) in length and spreads out over 240 kilometers (149 miles) of coastline. It is rich in agriculture and has been farmed for thousands of years. 
Red sea 
Max. length 2,250 km (1,400 mi) 
Max. width 355 km (221 mi) 
Surface area 438,000 km2 (169,000 sq. mi) 
Average depth 490 m (1,610 ft.) 
Max. depth 2,211 m (7,254 ft.) 
Water volume 233,000 km3 (56,000 cu mi) 
Mediterranean Sea 
Surface area 2,500,000 km2(970,000 sq. mi) 
Average depth 1,500 m (4,900 ft.) 
Max. depth 5,267 m (17,280 ft.) 
Water volume 3,750,000 km3(900,000 cu mi) 
Water problem We meet many problems related to water like water pollution, limited availability of water, poor water use or misuse water. 
Water pollution: 
We have many type of water pollution such as industrial waste, sewage and waste water, mining activity, marine dumping, global warming.........etc. 
— 1. Industrial waste: Industries produce huge amount of waste which 
contains toxic chemicals and pollutants (like lead, mercury, sculpture, asbestos, nitrates) which can cause air pollution and damage to us and our environment. 
— 2. Sewage and waste water: The sewage and waste water that is 
produced by each household is chemically treated and released in to sea with fresh water. The sewage water carries harmful bacteria and chemicals that can cause serious health problems. [ pathogens / microorganisms ] 
— 3. Mining activities: extracting rock and coal and other elements 
which -when extracted- release toxic chemicals that are harmful for water. 
— 4. Marine dumping: The garbage produce by each household in the 
form of paper, aluminum, rubber, glass, plastic, food if collected and deposited into the sea in some countries. These items take from 2 weeks to 200 years to decompose. When such items enter the sea, they not only cause water pollution but also harm animals in the sea. 
— 4. Nutrients: Chemical fertilizers used by farmers also add nutrients to the soil, which drain into rivers and seas and add to the fertilizing 
effect of the sewage. Together, sewage and fertilizers can cause a massive increase in the growth of algae or plankton that overwhelms huge areas of oceans, lakes, or rivers. 
— 5. Global warming: An increase in earth’s temperature due 
to greenhouse effect results in global warming. It increases the water temperature and result in death of aquatic animals and marine species which later results in water pollution. 
— And many other types which harm water and pollute water which due 
to make it useless. 
— These problem due to 
— Death of aquatic (water) animals — Disruption of food-chains — Diseases 
— 
Limited availability of water 
Some areas are very dry, and they are decertified because there is no enough water to convert it to green land or plant any plants which make some country to make war with other countries because of water and hungry. 
Life may be impossible at these places and the hungry and thirsty are everywhere. 
Bad water uses 
Some people misuse water by forgetting the faucets are opened, watering plant by too much water, some people throw fresh water on the land by careless way to clean and some people don't save water in their utilization. 
Then we thought that we need to filtration sea water to get fresh water because some areas are not having any water so make some area desert so we need to provide water to this area to convert it from barren land to green land. 
So we thought that we can desalinate sea water by release electromagnetic wave in water to convert it to water vapor by breaking down hydrogen bond which makes water is a liquid substance so we searched about electromagnetic waves properties. 
Some solutions: 
Different perspectives for water purification: 
Water that is distributed in cities or communities is treated extensively. Specific water purification steps are taken, in order to make the water meet current water standards. Purification methods can be divided up into settling of suspended matter, physical/ chemical treatment of colloids and biological treatment. All these treatment methods have several different applications 1 Physical water purification 
Physical water purification is primarily concerned with filtration techniques. Filtration is a purification instrument to remove solids from liquids. There are several different filtration techniques. A typical filter consists of a tank, the filter media and a controller to enable backflow. 
Screens 
Filtration through screens is usually done at the beginning of the water purification process. The shape of the screens depends on the particles that have to be removed. 
Sand filtration 
Sand filtration is a frequently used, very robust method to remove suspended solids from water. The filter medium consists of a multiple layer of sand with a variety in size and specific gravity. When water flows through the filter, the suspended solids precipitate in the sand layers as residue and the water, which is reduced in suspended solids, flows out of the filter. When the filters are loaded with particles the flow-direction is reversed, in order to regenerate it. Smaller suspended solids have the ability to pass through a sand filter, so that secondary filtration is often required. 
Cross flow filtration 
Cross flow membrane filtration removes both salts and dissolved organic matter, using a permeable membrane that only permeates the contaminants. The remaining concentrate flows along across the membrane and out of the system and the permeate is removed as it flows along the other side of the membrane. There are several different membrane filtration techniques, these are: micro filtration, ultra filtration, Nano filtration and Reversed Osmosis (RO). Which one of these techniques is implemented depends upon the kind of compounds that needs to be removed and their particle size. Below, the techniques of membrane filtration are clarified. 
1) Microfiltration Microfiltration is a membrane separation technique in which very fine particles or other suspended matters, with a particle size in the range of 0.1 to 1.5 microns, are separated from a liquid. It is capable of removing suspended solids, bacteria or other impurities. Microfiltration membranes have a nominal pore size of 0.2 microns. 
2) Ultrafiltration Ultrafiltration is a membrane separation technique in which very fine particles or other suspended matters, with a particle size in the range of 0.005 to 0.1 microns, are separated from a liquid. It is capable of removing salts, proteins and other impurities within its range. Ultrafiltration membranes have a nominal pore size of 0.0025 to 0.1 microns. 
3) Nano filtration Nano filtration is a membrane separation technique in which very fine particles or other suspended matters, with a particle size in the range of approximately 0.0001 to 0.005 microns, are separated from a liquid. It is capable of removing viruses, pesticides and herbicides. 
4) Reversed Osmosis (RO) Reversed Osmosis, or RO, is the finest available membrane separation technique. RO separates very fine particles or other suspended matters, with a particle size up to 0.001 microns, from a liquid. It is capable of removing metal ions and fully removing aqueous salts. 
More on RO 
Cartridge filtration 
Cartridge filtration units consist of fibers. They generally operate most effectively and economically on applications having contamination levels of less than 100 ppm. For heavier contamination applications, cartridges are normally used as final polishing filters. 
2 Chemical water purification 
Chemical water purification is concerned with a lot of different methods. Which methods are applied depends on the kind of contamination in the (waste) water. Below, many of these chemical purification techniques are summed up. 
Chemical addition 
There are various situations in which chemicals are added, for instance to prevent the formation of certain reaction products. Below, a few of these additions are summed up: - Chelating agents are often added to water, in order to prevent negative effects of hardness, caused by the deposition of calcium and magnesium. - Oxidizing agents are added to act as a biocide, or to neutralize reducing agents. - Reducing agents are added to neutralize oxidizing agents, such as ozone and chlorine. They also help prevent the degradation of purification membranes. 
Clarification 
Clarification is a multi-step process to remove suspended solids. First, coagulants are added. Coagulants reduce the charges of ions, so that they will accumulate into larger particles called flocks. The flocks then settle by gravity in settling tanks or are removed as the water flows through a gravity filter. Particles larger than 25 microns are effectively removed by clarification. Water that is treated through clarification may still contain some suspended solids and therefore needs further treatment. 
Deionization and softening 
Deionization is commonly processed through ion exchange. Ion exchange systems consist of a tank with small beds of synthetic resin, which is treated to selectively absorb certain captions or anions and replace them by counter- ions. The process of ion exchange lasts, until all available spaces are filled up with ions. The ion-exchanging device than has to be regenerated by 
suitable chemicals. One of the most commonly used ion exchangers is a water softener. This device removes calcium and magnesium ions from hard water, by replacing them with other positively charged ions, such as sodium. 
For specific information on water softening move to the water softener FAQ 
Disinfection 
Disinfection is one of the most important steps in the purification of water from cities and communities. It serves the purpose of killing the present undesired microorganisms in the water; therefore disinfectants are often referred to as biocides. There are a variety of techniques available to disinfect fluids and surfaces, such as: ozone disinfection, chlorine disinfection and UV disinfection. 
Chlorine has a downside: it can react to chloramines and chlorinated hydrocarbons, which are dangerous carcinogens. To prevent this problem chlorine dioxide can be applied. Chlorine dioxide is an effective biocide at concentrations as low as 0.1 ppm and over a wide pH range. ClO2 penetrates the bacteria cell wall and reacts with vital amino acids in the cytoplasm of the cell to kill the organism. The by-product of this reaction is chlorite. Toxicological studies have shown that the chlorine dioxide disinfection by-product, chlorite, poses no significant adverse risk to human health. 
Ozone has been used for disinfection of drinking water in the municipal water industry in Europe for over a hundred years and is used by a large number of water companies, where ozone generator capacities up to the range of a hundred kilograms per hour are common. When ozone faces odors, bacteria or viruses, the extra atom of oxygen destroys them completely by oxidation. During this process the extra atom of oxygen is destroyed and there are no odors, bacteria or extra atoms left. Ozone is not only an effective disinfectant, it is also particularly safe to use. 
UV-radiation is also used for disinfection nowadays. When exposed to sunlight, germs are killed and bacteria and fungi are prevented from spreading. This natural disinfection process can be utilized most effectively by applying UV radiation in a controlled way. 
Distillation 
Distillation is the collection of water vapor, after boiling the wastewater. With a properly designed system removal of organic and inorganic contaminants and biological impurities can be obtained, because most contaminants do not vaporize. Water will than pass to the condensate and the contaminants will remain in the evaporation unit. 
Electro dialysis 
Electro dialysis is a technique that employs electrical current and special membranes, which are semi permeable to ions, based on their charge. Membranes that permeate captions and membranes that permeate anions are placed alternately, with flow channels between them, and electrodes are placed on each side of the membranes. The electrodes draw their counter ions through the membranes, so that these are removed from the water. 
PH-adjustment 
Municipal water is often pH-adjusted, in order to prevent corrosion from pipes and to prevent dissolution of lead into water supplies. The pH is brought up or down through addition of hydrogen chloride, in case of a basic liquid, or atrium hydroxide, in case of an acidic liquid. The pH will be converted to approximately 7 to 7.5, after addition of certain concentrations of these substances. 
Scavenging 
most naturally occurring organics have a slightly negative charge. Organic scavenging is done by addition of strong-base anion resin. The organics will fill up the resin and when it is loaded it is regenerated with high concentrations of sodium chloride. 
3 Biological water purification 
Biological water purification is performed to lower the organic load of dissolved organic compounds. Microorganisms, mainly bacteria, do the decomposition of these compounds. There are two main categories of biological treatment: aerobic treatment and anaerobic treatment. The Biological Oxygen Demand (BOD) defines the organic load. In aerobic systems the water is aerated with compressed air (in some cases merely oxygen), whereas anaerobic systems run under oxygen free conditions. 
Electromagnetic wave properties: Electromagnetic waves are formed when an electric field (shown as blue arrows) couples with a magnetic field (shown as red arrows). 
An electromagnetic wave can also be described in terms of its energy—in units of measure called electron volts (eV). An electron volt is the amount of kinetic energy needed to move an electron through one volt potential. Moving along the spectrum from long to short wavelengths, energy increases as the wavelength shortens. Consider a jump rope with its ends being pulled up and down. More energy is needed to make the rope have more waves. 
An electromagnetic wave can also be described in terms of its energy—in units of measure called electron volts (eV). 
An electron volt is the amount of kinetic energy needed to move an electron through one volt potential. Moving along the spectrum from long to short wavelengths, energy increases as the wavelength shortens. Consider a jump rope with its ends being pulled up and down. More energy is needed to 
make the rope have more waves. 
Electromagnetic waves carry energy as they travel through empty space. There is an energy density associated with both the electric field E and the magnetic field B. The rate of energy transport per unit area is described by the vector which is called the Poynting vector. This expression is a vector product, and since the magnetic field is perpendicular to the electric field, the magnitude can be written 
The rate of energy transport S is perpendicular to both E and B and in the direction of propagation of the wave. A condition of the wave solution for a plane wave is BM = Em/c so that the average intensity for a plane wave can be written. 
This makes use of the fact that the average of the square of a sinusoidal function over a whole number of periods is just 1/2. 
Why did we change this idea? 
Because we found that it very hard and expensive to get source for electromagnetic waves and very hard to break hydrogen bond by this wave by focusing the wave on water at specific angle. 
After searching, discussing and thinking we found that vapor water by decreasing pressure will be easier, cheaper and have more efficiency and we can use it in poor countries and desert. 
Our new idea: Our idea to solve this Egypt grand challenge "water" this idea is about vapor seawater by reducing pressure on the water which make hydrogen bond weaker and convert liquid water to vapor water and molecules go out from each other. 
We think about reducing pressure on water by piston like in these pictures. 
When the piston go down, the valve will open and the air will vacuumed when the piston reaches to the surface of the water. 
Then the valve will be closed and the piston will go up which is vacuuming piston and make the distance which are between water molecules more greater thus make hydrogen bond between this molecules weaker and easy to be broken which convert water liquid to water vapor. 
- Condensation system: 
We saw that it is impossible to pass water outside the container because the equilibrium of pressure inside the piston and outside. 
After researching we found that water is polar molecules which attract to negative charge or charging substances. 
So we used this property to help to pass water vapor through a tube between the container of the piston and the container of the condensation system and condense the vapor in the second container by attract molecules to each other and make water molecules more closer to each other so male hydrogen bond more strong and convert vapor to liquid water. 
Some treatment to water: We found that water which is produced is very few TDS which will make diseases if we drink this water and will be harmful so we decided to put sensor with filter to measure TDS and stimulate TDS and another sensor and calcite filter which contain a naturally occurring calcium carbonate media measure PH and stimulate PH so the water finally will be ready to be drunk. 
Calcite filter Calcite is a crushed and screened white marble media which can inexpensively be used to neutralize acidic or low pH waters to a neutral, less corrosive effluent. 
Calcite is a naturally occurring calcium carbonate media. One of the advantages of Calcite is its self-limiting property. When properly applied, it corrects pH only enough to reach a non-corrosive equilibrium. It does not overcorrect under normal conditions. Upon contact with calcite, acidic waters slowly dissolve the calcium carbonate to raise the pH which reduces potential leaching of copper, lead and other metals found in typical plumbing systems. Periodic backwashing will prevent packing, reclassify the bed and maintain high service rates. Depending on pH, water chemistry 
and service flow, the Calcite bed will have to be periodically replenished as the calcite is depleted . As the Calcite's calcium carbonate neutralizes the water, it will increase hardness and a softener may become necessary after the neutralizing filter . Advantages of Calcite Filters for Neutralization : Calcite is a Naturally Occurring Material. Low Uniformity coefficient for maximum contact for controlled pH correction. Inexpensive. Slower reacting for controlled pH correction .Calcite Media Specifications : Color: near white 
Bulk Density: 82 lbs./cu. ft . Specific Gravity: 2.7 
Effective Size: .40 mm 
Uniformity Coefficient: 1.5 
Hardness: 3.0 (Mohs scale ) Calcite Media Operational Specifications : 
Water pH range: 5.0 – 7.0 
Bed depth: 24 – 30 in . Freeboard: 50% of bed dept 
Service flow rate: 3 - 6 gpm/sq. ft . Backwash flow rate: 8 – 12 gpm/sq. ft . Backwash expansion rate: 35% of bed depth so we found some 
Prototype: Implementation of the project is not that easy to plan for what will be done and then to start constructing the prototype because when it comes to constructing the real-working prototype, it seems like facing many difficult troubles that strongly related to practical tools and practical experiences as for such a complex project. Consequently, materials we have used are: 
1. Transparent compressed plastic cylinder with a diameter of 12 cm, a height of 80 cm and a thickness of 4mm which bears up to a pressure of 2 bars. 
2. Electric driller of 12 V 
3. Cutter Machine 
4. Lathe to construct the piston 
5. Rubber ring 
6. Pulley for lifting 
Let`s go through the methods followed to accomplish the construction: 
1. Restructuring the cylindrical container with the required dimensions in an appropriate factory of modeling and framing of compressed plastics. 
2. Using the driller to make a hole 2.2 cm above the base of the container as the water will be have 2 cm height and this hole is to be an input for the water and output for the air inside the container. 
3. Using the cutter machine to cut the container in order to have the height of 80 cm. 
4. Using the lathe to construct a piston whose plate has a radius of 5.85 cm and whose metallic arm has a height of 78 cm. 
5. Framing the plate of the piston with the rubber ring whose thickness is 3 mm and whose diameter is 11.7 cm in order to make the piston moving smoothly inside the container. 
6. Hanging the piston`s terminal ring in the hook of the pulley. 
Background Research 
Based on the data collected on our research we have searched for some equations and principles. 
- Vapor Pressure using Antoine equation: 
The Antoine equation is a vapor pressure equation and describes the relation between vapor pressure and temperature for pure components. 
- Boyle's Law Boyle's law (sometimes referred to as the Boyle–Mariotte law, or Mariotte's law) is an experimental gas law which describes how the pressure of a gas tends to decrease as the volume of a gas increases. A modern statement of Boyle's law is: The absolute pressure exerted by a given mass of an ideal gas is inversely proportional to the volume it occupies if the temperature and amount of gas remain unchanged within a closed system. Mathematically, Boyle's law can be stated as 
- Isobaric Process 


        </h5>
        <center>
            <h2>
                African Leader ship
            </h2>
        </center>
        <h5>
            In many people who are poor and needy, they need shelter, clothing, food and water so that
            they can live their lives. Come and think with me if we leave them without help. What will they do?
            They will go to the "Haraam" who has transformed their lives from a beautiful life into a life of indecency and not
            connected with the god.
            If every one of see a poor person thinking if he was creating in the place that the poor people creating in it, then God
            created each one in his place to build the earth and help people,after that he will help them,but every one do not have
            many money to give it to poor people , A small number of people who help with money, even if they help, will help with a
            small number of money. so we should to make something to the people to help poor people without money .
            so, I and my brothers making a Facebook page named "Donate for free " her link is "
            https://www.facebook.com/etbr3.4.free/ “
            that make people for donate without money or old clothes or any thing but they will donate with a button press only he
            will see ads then i will get money from the ads so we make " donate without money" and make all things to poor people
            that have dreamed.

        </h5>
        <div id="foot">
            <div style="display:block;padding-top:70px;">
                <div class="row justify-content-md-center  ">
                    <div class="col col-lg-4 f_item">
                        <center>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                        </center>
                    </div>
                    <div class="col col-lg-4 f_item">
                        <center>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                        </center>
                    </div>
                    <div class="col col-lg-4 f_item">
                        <center>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                            <P>Contact us</P>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%include partials/footer.ejs%>
    <script>
        $('.start').on('click', function () {
            $('html,body').animate({
                scrollTop: $(".start").offset().top
            },
                'slow');
        })

    </script>