<%include partials/header.ejs%>

<%include partials/navbar.ejs%>

<div class="containerx container">
    <%include partials/head.ejs%>
    <div id="x">

        <div style="width:400px;height:400px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- fady -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6071066228895434" data-ad-slot="5915152728"
                data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <%include partials/logos.ejs%>
        <%include partials/cards.ejs%>

        
        <%include partials/foot.ejs%>
    </div>
</div>


<%include partials/footer.ejs%>
<script>
    $('.start').on('click', function () {
        $('html,body').animate({
            scrollTop: $(".start").offset().top
        },
            'slow');
    })

</script>