<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<link rel="stylesheet" href="assests/css/index.css">
<div class="containerx container">
    <%include partials/head.ejs%>
    <%include partials/logos.ejs%>
  <h5>
    The School seeks:
    
    Partnerships with universities, research centers, factories, companies and those who care about education for
    development, training and application.
    To be linked with the latest innovations and research issues in a lifelong culture and to work as a team with students
    and teachers.
    To develop the elements of innovation and creativity as an essential goal and to shed light on the role of science and
    engineering in the development of Egypt and the world.
    To provide technical and financial support for the student-based learning focused on inquiry, projects and working as a
    team.
    Ongoing evaluation of all student and teachers while concentrating on developing the highest skills and self-reliance
    possible.
    Though the United States has historically been a leader in these fields, fewer students have been focusing on these
    topics recently. According to the U.S. Department of Education, only 16 percent of high school students are interested
    in a STEM career and have proven a proficiency in mathematics. Currently, nearly 28 percent of high school freshmen
    declare an interest in a STEM-related field, a department website says, but 57 percent of these students will lose
    interest by the time they graduate from high school.
    
    As a result, the Obama administration announced the 2009 "Educate to Innovate" campaign to motivate and inspire students
    to excel in STEM subjects. This campaign also addresses the inadequate number of teachers skilled to educate in these
    subjects. The goal is to get American students from the middle of the pack in science and math to the top of the pack in
    the international arena.
    
    Advertisement
    
    Thirteen agencies are partners in the Committee on Stem Education (CoSTEM), including mission science agencies and the
    U.S. Department of Education. CoSTEM is working to create a joint national strategy to invest federal funds in K-12 STEM
    education, increasing public and youth STEM engagement, improving the STEM experience for undergraduates, reaching
    demographics underrepresented in STEM fields, and designing better graduate education for the STEM workforce. The
    Department of Education now offers a number of STEM-based programs, including research programs with a STEM emphasis,
    STEM grant selection programs and general programs that support STEM education.
    
    The Obama administration's 2014 budget invests $3.1 billion in federal programs on STEM education, with an increase of
    6.7 percent over 2012. The investments will be made to recruit and support STEM teachers, as well as support
    STEM-focused high schools with STEM Innovation Networks. The budget also invests into advanced research projects for
    education, to better understand next-generation learning technologies.
    
    The importance of STEM education
    All of this effort is to meet a need. According to a report by the website STEMconnector.org, by 2018, projections
    estimate the need for 8.65 million workers in STEM-related jobs. The manufacturing sector faces an alarmingly large
    shortage of employees with the necessary skills — nearly 600,000. The field of cloud computing alone will have created
    1.7 million jobs between 2011 and 2015, according to the report. The U.S. Bureau of Labor Statistics projects that by
    2018, the bulk of STEM careers will be:
    
    Computing – 71 percent
    Traditional Engineering – 16 percent
    Physical sciences – 7 percent
    Life sciences – 4 percent
    Mathematics – 2 percent
    STEM jobs do not all require higher education or even a college degree. Less than half of entry-level STEM jobs require
    a bachelor's degree or higher. However, a four-year degree is incredibly helpful with salary — the average advertised
    starting salary for entry-level STEM jobs with a bachelor's requirement was 26 percent higher than jobs in the non-STEM
    fields, according to the STEMconnect report. For every job posting for a bachelor's degree recipient in a non-STEM
    field, there were 2.5 entry-level job postings for a bachelor's degree recipient in a STEM field.
    
    This is not a problem unique to the United States. In the United Kingdom, the Royal Academy of Engineering reports that
    the Brits will have to graduate 100,000 STEM majors every year until 2020 just to meet demand. According to the report,
    Germany has a shortage of 210,000 workers in the mathematics, computer science, natural science and technology
    disciplines.
    
    Blended learning
    What separates STEM from the traditional science and math education is the blended learning environment and showing
    students how the scientific method can be applied to everyday life. It teaches students computational thinking and
    focuses on the real world applications of problem solving. As mentioned before, STEM education begins while students are
    very young:
    
    Elementary school — STEM education focuses on the introductory level STEM courses, as well as awareness of the STEM
    fields and occupations. This initial step provides standards-based structured inquiry-based and real world problem-based
    learning, connecting all four of the STEM subjects. The goal is to pique students' interest into them wanting to pursue
    the courses, not because they have to. There is also an emphasis placed on bridging in-school and out-of-school STEM
    learning opportunities.
    
    Middle school — At this stage, the courses become more rigorous and challenging. Student awareness of STEM fields and
    occupations is still pursued, as well as the academic requirements of such fields. Student exploration of STEM related
    careers begins at this level, particularly for underrepresented populations.
    
    High school — The program of study focuses on the application of the subjects in a challenging and rigorous manner.
    Courses and pathways are now available in STEM fields and occupations, as well as preparation for post-secondary
    education and employment. More emphasis is placed on bridging in-school and out-of-school STEM opportunities.
    Though the United States has historically been a leader in these fields, fewer students have been focusing on these
    topics recently. According to the U.S. Department of Education, only 16 percent of high school students are interested
    in a STEM career and have proven a proficiency in mathematics. Currently, nearly 28 percent of high school freshmen
    declare an interest in a STEM-related field, a department website says, but 57 percent of these students will lose
    interest by the time they graduate from high school.
    
    As a result, the Obama administration announced the 2009 "Educate to Innovate" campaign to motivate and inspire students
    to excel in STEM subjects. This campaign also addresses the inadequate number of teachers skilled to educate in these
    subjects. The goal is to get American students from the middle of the pack in science and math to the top of the pack in
    the international arena.
    
    Advertisement
    
    Thirteen agencies are partners in the Committee on Stem Education (CoSTEM), including mission science agencies and the
    U.S. Department of Education. CoSTEM is working to create a joint national strategy to invest federal funds in K-12 STEM
    education, increasing public and youth STEM engagement, improving the STEM experience for undergraduates, reaching
    demographics underrepresented in STEM fields, and designing better graduate education for the STEM workforce. The
    Department of Education now offers a number of STEM-based programs, including research programs with a STEM emphasis,
    STEM grant selection programs and general programs that support STEM education.
    
    The Obama administration's 2014 budget invests $3.1 billion in federal programs on STEM education, with an increase of
    6.7 percent over 2012. The investments will be made to recruit and support STEM teachers, as well as support
    STEM-focused high schools with STEM Innovation Networks. The budget also invests into advanced research projects for
    education, to better understand next-generation learning technologies.
    
    The importance of STEM education
    All of this effort is to meet a need. According to a report by the website STEMconnector.org, by 2018, projections
    estimate the need for 8.65 million workers in STEM-related jobs. The manufacturing sector faces an alarmingly large
    shortage of employees with the necessary skills — nearly 600,000. The field of cloud computing alone will have created
    1.7 million jobs between 2011 and 2015, according to the report. The U.S. Bureau of Labor Statistics projects that by
    2018, the bulk of STEM careers will be:
    
    Computing – 71 percent
    Traditional Engineering – 16 percent
    Physical sciences – 7 percent
    Life sciences – 4 percent
    Mathematics – 2 percent
    STEM jobs do not all require higher education or even a college degree. Less than half of entry-level STEM jobs require
    a bachelor's degree or higher. However, a four-year degree is incredibly helpful with salary — the average advertised
    starting salary for entry-level STEM jobs with a bachelor's requirement was 26 percent higher than jobs in the non-STEM
    fields, according to the STEMconnect report. For every job posting for a bachelor's degree recipient in a non-STEM
    field, there were 2.5 entry-level job postings for a bachelor's degree recipient in a STEM field.
    
    This is not a problem unique to the United States. In the United Kingdom, the Royal Academy of Engineering reports that
    the Brits will have to graduate 100,000 STEM majors every year until 2020 just to meet demand. According to the report,
    Germany has a shortage of 210,000 workers in the mathematics, computer science, natural science and technology
    disciplines.
    
    Blended learning
    What separates STEM from the traditional science and math education is the blended learning environment and showing
    students how the scientific method can be applied to everyday life. It teaches students computational thinking and
    focuses on the real world applications of problem solving. As mentioned before, STEM education begins while students are
    very young:
    
    Elementary school — STEM education focuses on the introductory level STEM courses, as well as awareness of the STEM
    fields and occupations. This initial step provides standards-based structured inquiry-based and real world problem-based
    learning, connecting all four of the STEM subjects. The goal is to pique students' interest into them wanting to pursue
    the courses, not because they have to. There is also an emphasis placed on bridging in-school and out-of-school STEM
    learning opportunities.
    
    Middle school — At this stage, the courses become more rigorous and challenging. Student awareness of STEM fields and
    occupations is still pursued, as well as the academic requirements of such fields. Student exploration of STEM related
    careers begins at this level, particularly for underrepresented populations.
    
    High school — The program of study focuses on the application of the subjects in a challenging and rigorous manner.
    Courses and pathways are now available in STEM fields and occupations, as well as preparation for post-secondary
    education and employment. More emphasis is placed on bridging in-school and out-of-school STEM opportunities.
    Stack Overflow
    Search…
    
    Log In Sign Up
    By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms of
    Service.
    
    Home
    PUBLIC
    Stack Overflow
    Tags
    Users
    Jobs
    Teams
    Q&A for work
    Learn More
    Robots.txt Allow sub folder but not the parent
    Ask Question
    
    
    19
    
    
    2
    Can anybody please explain the correct robots.txt command for the following scenario.
    
    I would like to allow access to:
    
    /directory/subdirectory/..
    
    But I would also like to restrict access to /directory/ not withstanding the above exception.
    
    robots.txt
    shareimprove this question
    edited Nov 20 '18 at 1:36
    
    Paolo
    10.3k1468103
    asked Sep 30 '11 at 10:24
    
    QFDev
    4,435134575
    add a comment
    3 Answers
    active oldest votes
    
    22
    
    Be aware that there is no real official standard and that any web crawler may happily ignore your robots.txt
    
    According to a Google groups post, the following works at least with GoogleBot;
    
    User-agent: Googlebot
    Disallow: /directory/
    Allow: /directory/subdirectory/
    shareimprove this answer
    answered Sep 30 '11 at 10:38
    
    user967058
    320311
    2
    I wanted to dynamically allow sub-directories but not that first level, changing the Allow statement to Allow:
    /directory/*/ works. – Duncanmoo Apr 12 '13 at 9:00
    4
    According to the robots.txt Wikipedia entry, the 'Allow' directive should be placed before the 'Disallow' for maximum
    compatibility (though neither Google or Bing will mind) – pelms Jun 20 '13 at 14:17
    add a comment
    
    
    2
    
    If these are truly directories then the accepted answer is probably your best choice. But, if you're writing an
    application and the directories are dynamically generated paths (a.k.a. contexts, routes, etc), then you might want to
    use meta tags instead of defining it in the robots.txt. This gives you the advantage of not having to worry about how
    different browsers may interpret/prioritize the access to the subdirectory path.
    
    You might try something like this in the code:
    
    if is_parent_directory_path
    <meta name="robots" content="noindex, nofollow">
    end
    shareimprove this answer
    answered Aug 12 '13 at 16:25
    
    Javid Jamae
    6,11043757
    add a comment
    
    1
    
    I would recommend using Google's robot tester. Utilize Google Webmaster tools -
    https://support.google.com/webmasters/answer/6062598?hl=en
    
    You can edit and test URLs right in the tool, plus you get a wealth of other tools as well.
    
    shareimprove this answer
    answered Feb 25 '16 at 14:22
    
    Moojjoo
    474927
    Good point! Not sure if that was available back in 2011 when I posted this, but it's a very useful addition to WMT. –
    QFDev Feb 25 '16 at 17:43
    QFDEV I had to use the Robot tester today because I am working really hard to get our companies site ranking higher on
    Google's Search Results. And the only thing I see under "HTML Improvements" on are duplicate titles and meta tags. This
    is because they are reading the same pages twice (query strings). Also for some reason the robot is crawling directories
    that do not exist. I found your post, which helped and then noticed the tester in Google Web Master tools and saw that
    it would validate the changes. Thought it could help other developers by posting to your thread. – Moojjoo Mar 4 '16 at
    21:38
    add a comment
    Your Answer
    Sign up or log in
    Sign up using Google
    Sign up using Facebook
    Sign up using Email and Password
    Post as a guest
    Name
    Email
    Required, but never shown
    
    Post Your Answer
    By clicking "Post Your Answer", you agree to our terms of service, privacy policy and cookie policy
    
    Not the answer you're looking for? Browse other questions tagged robots.txt or ask your own question.
    asked
    
    7 years, 6 months ago
    
    viewed
    
    15,001 times
    
    active
    
    4 months ago
    
    Work from anywhere
    Backend Engineer - Payment (Elixir)
    HeetchNo office location
    REMOTE
    elixirruby-on-rails
    Mobile/Web/PWA Sr. Angular Developer: Enterprise Workflow Platform (remote)
    Primotus, LLCNo office location
    REMOTE
    angularionic-framework
    Data Analytics Course Mentor
    Thinkful Inc.No office location
    $10K - $30KREMOTE
    pythons
    Software Developers – Java – UK home based
    SurevineNo office location
    REMOTE
    javaspring
    Work remotely - from home or wherever you choose.
    
    Browse remote jobs
    48 people chatting
    Linked
    0
    Robots.txt disallowing folder but allowing subfolders
    0
    Exclude specific Folders from being crawled?
    Related
    13
    Robots.txt, how to allow access only to domain root, and no deeper?
    7
    Robots.txt: Disallow subdirectory but allow directory
    3
    If robots.txt points to a sitemap in a sub-folder, can the sitemap specify URLs in the root?
    1
    robots.txt disallow subdirectory without showing its name to robots
    0
    Robots.txt “Allow” command?
    1
    Robots.txt - Disallow all pages but allow all subdir
    2
    how do I use wildcards in robots.txt?
    2
    What does it mean if robots.txt allows everything and disallows everything?
    1
    robots.txt - Disallow folder but allow files within folder
    1
    Does order matter in robots.txt?
    Hot Network Questions
    Can I make popcorn with any corn?
    How to say job offer in Mandarin/Cantonese?
    Why does Kotter return in Welcome Back Kotter?
    Dragon forelimb placement
    Email Account under attack (really) - anything I can do?
    Why don't electron-positron collisions release infinite energy?
    "You are your self first supporter", a more proper way to say it
    Approximately how much travel time was saved by the opening of the Suez Canal in 1869?
    How can I make my BBEG immortal short of making them a Lich or Vampire?
    Why can't I see bouncing of a switch on an oscilloscope?
    Did Shadowfax go to Valinor?
    How did the USSR manage to innovate in an environment characterized by government censorship and high bureaucracy?
    Does the fruit of Mantra Japa automatically go to Indra if Japa Samarpana Mantra is not chanted?
    Explain the parameters before and after @ in the treminal
    Is it tax fraud for an individual to declare non-taxable revenue as taxable income? (US tax laws)
    How is it possible to have an ability score that is less than 3?
    How do I create uniquely male characters?
    Basic combinations logic doubt in probability
    Creating a document with mixed languages
    Roll the carpet
    Languages that we cannot (dis)prove to be Context-Free
    Why not use SQL instead of GraphQL?
    Have astronauts in space suits ever taken selfies? If so, how?
    N.B. ligature in Latex
    question feed
    STACK OVERFLOW
    Questions
    Jobs
    Developer Jobs Directory
    Salary Calculator
    Help
    Mobile
    Disable Responsiveness
    PRODUCTS
    Teams
    Talent
    Advertising
    Enterprise
    COMPANY
    About
    Press
    Work Here
    Legal
    Privacy Policy
    Contact Us
    STACK EXCHANGE
    NETWORK
    Technology
    Life / Arts
    Culture / Recreation
    Science
    Other
    Blog
    Facebook
    Twitter
    LinkedIn
    site design / logo © 2019 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required.
    rev 2019.4.5.33234
  </h5>
  <%include partials/head.ejs%>
</div>

<%include partials/footer.ejs%>