<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<div class="containerx container">
    <div id="x">


        <div id="signup">
            <%if(alert){%>
            <div class="alert alert-danger animated shake" role="alert" id="alertt">
                Email is alreadyin use <a href="/signin">sign in now</a> </div>


            <%}else{%>

            <div class="alert alert-danger animated shake" role="alert" id="alert" style="visibility:hidden;">
                Email is alreadyin use <a href="/signin">sign in now</a> </div>
            <%}%>      
            <form id="signup_form" method="POST" action="/signup" onsubmit="return form_valdiate()">

                <div class="form-group">
                    <label for="exampleInputPassword1">First name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First name"
                        name="first_name" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Last name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last name"
                        name="last_name" required>
                </div>


                <div class="form-group">

                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>





                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" id="password1" placeholder="Password" name="password"
                        required>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" class="form-control" id="password2" placeholder="Retype password"
                        name="password_confirm" required>
                </div>



                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="agree_box" name="agree_terms">
                    <label class="form-check-label" for="agree_box">I agree to <a href="/terms">terms and
                            conditions</a></label>
                </div>


                <button type="submit" class="btn btn-primary btn-block ">Sign up</button>
                <center>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="padding-top:15px;"></div>
                </center>
            </form>
        </div>


        <%include partials/foot.ejs%>
        </div>
    </div>
    <%include partials/footer.ejs%>